body, table {
    FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	MARGIN: 0px;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/********************************
 *	Faces Components Stylesheet *
 ********************************/
.form {
	
}

.commandLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	background-color: #006600;
}

.outputLink {
	
}

.graphicImage {
	
}

.outputLabel {
	color: #188015;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 12px
}

.inputText {
	
}

.inputText_Error {
	border-style: solid;
	border-color: #DE5C5C;
}

.inputTextarea {
	
}

.inputSecret {
	
}

.inputHidden {
	
}

.outputText {
	
}

.outputFormat {
	
}

.commandButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	background-color: #005CE6;
}

.button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	background-color: #005CE6;
}

.button-dis {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	background-color: #005CE6;
}

.message {
	text-decoration: blink;
	font-style: italic;
	color: red;
	text-transform: capitalize;
	font-size: 8pt;
	background-color: #dadada;
}

.messages {
	font-style: normal;
	color: red;
	text-transform: capitalize;
	font-size: 8pt;
	background-color: #dadada;
	font-weight: bold;
}

.selectBooleanCheckbox {
	
}

.selectBooleanCheckbox_Error {
	
}

.selectOneRadio {
	
}

.selectOneRadio_Error {
	
}

.selectOneRadio_Disabled {
	color: GrayText;
}

.selectManyCheckbox {
	
}

.selectManyCheckbox_Error {
	
}

.selectManyCheckbox_Disabled {
	color: GrayText;
}

.selectOneListbox {
	
}

.selectOneListbox_Error {
	
}

.selectManyListbox {
	
}

.selectManyListbox_Error {
	
}

.selectOneMenu {
	
}

.selectOneMenu_Error {
	
}

.selectManyMenu {
	
}

.selectManyMenu_Error {
	
}

.panelGroup {
	
}

.panelGrid {
	text-align: center;
}

.dataTable {
	empty-cells: show;
}

.headerClass {
	background-color: ThreeDFace;
	color: WindowText;
	border-width: 1px;
	border-style: solid;
	border-color: ThreeDShadow;
	margin: 2px;
	padding: 0px;
	padding-left: 4pt;
	padding-right: 4pt;
	padding-bottom: 2px;
	font-weight: 400;
	overflow: -moz-scrollbars-none;
}

.footerClass {
	background-color: ThreeDFace;
	color: WindowText;
	border-width: 0px;
	border-style: none;
	padding: 0px;
	padding-left: 4pt;
	padding-right: 4pt;
	font-weight: 400;
	overflow: -moz-scrollbars-none;
}

.rowClass1 {
	background-color: window;
}

.rowClass2 {
	background-color: ThreeDFace;
}

.columnClass1 {
	background-color: window;
	margin: 2px;
	padding: 0px;
	padding-left: 4pt;
	padding-right: 4pt;
	padding-bottom: 2px;
	overflow: -moz-scrollbars-none;
}

.columnClass2 {
	background-color: ThreeDFace;
	margin: 2px;
	padding: 0px;
	padding-left: 4pt;
	padding-right: 4pt;
	padding-bottom: 2px;
}

.commandExButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	background-color: #006600;
}

.commandExButton_Label {
	color: windowtext;
	text-align: center;
	vertical-align: middle
}

.commandExButton_Icon {
	text-align: left;
	margin-left: 4px;
	height: 17px;
	width: 17px
}

.commandExButton_Icon_moused {
	text-align: left;
	margin-left: 4px;
	height: 17px;
	width: 17px
}

.commandExButton_Icon_depressed {
	text-align: left;
	margin-left: 4px;
	height: 17px;
	width: 17px
}

.commandExButton_Icon_disabled {
	text-align: left;
	margin-left: 4px;
	height: 17px;
	width: 17px
}

.requestLink {
	
}

.outputLinkEx {
	
}

.graphicImageEx {
	
}

.outputSeparator {
	
}

.fileupload {
	
}

.panelBox {
	
}

.panelLayout {
	
}

.playerGenericPlayer {
	
}

.playerFlash {
	
}

.playerShockwave {
	
}

.playerRealPlayer {
	
}

.playerMediaPlayer {
	
}

.panelActionbar {
	
}

.panelActionbar A:link {
	text-decoration: none
}

.panelActionbar A:visited {
	text-decoration: none
}

.panelActionbar A:hover {
	text-decoration: underline
}

.panelActionbar IMG {
	border: 0
}

.panelActionbar TD {
	padding: 1px
}

.inputText_Slider {
	background-color: buttonface;
	border: 1px;
	border-style: solid;
	border-color: windowframe;
	font-family: sans-serif;
	text-decoration: none;
	color: windowtext
}

.inputText_Slider_Body {
	background-color: buttonface;
	color: threedshadow;
	border-style: solid;
	border-color: threedhighlight;
	border-right-color: threedShadow
}

.inputText_DatePicker {
	background-color: ButtonFace;
	border: 1px;
	border-style: solid;
	border-color: ButtonShadow;
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: normal;
	color: WindowText;
	padding: 2px;
	margin: 0px
}

.inputText_DatePicker-Size {
	
}

.inputText_DatePicker-Header {
	border-width: 0px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: ButtonShadow
}

.inputText_DatePicker-Body {
	border-width: 0px;
	border-style: none;
	background-color: window
}

.inputText_DatePicker-HeaderLine1 {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle
}

.inputText_DatePicker-HeaderLine2 {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle
}

.inputText_DatePicker-HeaderWeekday {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle
}

.inputText_DatePicker-HeaderYear {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle
}

.inputText_DatePicker-HeaderMonth {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle
}

.inputText_DatePicker-HeaderLine1 {
	width: 12px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 1px
}

.inputText_DatePicker-HeaderYear {
	color: WindowText;
	padding-top: 2px;
	padding-bottom: 1px
}

.inputText_DatePicker-HeaderLine2 {
	width: 12px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 3px
}

.inputText_DatePicker-HeaderMonth {
	color: WindowText;
	padding-bottom: 3px
}

.inputText_DatePicker-Button {
	border: 0px;
	width: 12px;
	height: 12px
}

.inputText_DatePicker-HeaderWeekday {
	color: WindowText;
	background-color: ButtonFace;
	padding-top: 1px;
	padding-bottom: 2px
}

.inputText_DatePicker-OtherMonth {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 0px;
	border-style: none;
	padding: 2px;
	padding-left: 3px;
	padding-right: 3px
}

.inputText_DatePicker-CurrentMonth {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 0px;
	border-style: none;
	padding: 2px;
	padding-left: 3px;
	padding-right: 3px
}

.inputText_DatePicker-InvalidDay {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 0px;
	border-style: none;
	padding: 2px;
	padding-left: 3px;
	padding-right: 3px
}

.inputText_DatePicker-CurrentDay {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 0px;
	border-style: none;
	padding: 2px;
	padding-left: 3px;
	padding-right: 3px
}

.inputText_DatePicker-CurrentOtherDay {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 0px;
	border-style: none;
	padding: 2px;
	padding-left: 3px;
	padding-right: 3px
}

.inputText_DatePicker-Today {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 0px;
	border-style: none;
	padding: 2px;
	padding-left: 3px;
	padding-right: 3px
}

.inputText_DatePicker-CurrentToday {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 0px;
	border-style: none;
	padding: 2px;
	padding-left: 3px;
	padding-right: 3px
}

.inputText_DatePicker-Hover {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 0px;
	border-style: none;
	padding: 2px;
	padding-left: 3px;
	padding-right: 3px
}

.inputText_DatePicker-Hover {
	background-color: InactiveCaptionText
}

.inputText_DatePicker-OtherMonth {
	color: GrayText;
	border-color: Window
}

.inputText_DatePicker-CurrentMonth {
	color: WindowText;
	border-color: Window
}

.inputText_DatePicker-Today {
	border-color: Window;
	color: Window;
	background-color: ThreeDDarkShadow;
	font-weight: bold
}

.inputText_DatePicker-Today A {
	border-color: Window;
	color: Window;
	background-color: ThreeDDarkShadow;
	font-weight: bold
}

.inputText_DatePicker-CurrentDay {
	color: HighlightText;
	background-color: Highlight
}

.inputText_DatePicker-CurrentToday {
	color: HighlightText;
	background-color: Highlight
}

.inputText_DatePicker-CurrentToday {
	font-weight: bold
}

.inputText_DatePicker-CurrentOtherDay {
	color: HighlightText;
	background-color: Highlight
}

.inputText_DatePicker-InvalidDay {
	color: GrayText;
	background-color: buttonface;
	border-color: buttonface
}

.inputText_Typeahead {
	background-color: Window;
	border-width: 1px;
	border-style: solid;
	border-color: ThreeDDarkShadow
}

.inputText_Typeahead-List {
	background-color: Window;
	text-align: left;
	vertical-align: middle;
	height: auto;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 10pt;
	border-collapse: collapse
}

.inputText_Typeahead-Item {
	background-color: Window;
	color: WindowText;
	padding-left: 1pt;
	padding-right: 1pt
}

.inputText_Typeahead-Item-Selected {
	color: Window;
	background-color: Highlight;
	padding-left: 1pt;
	padding-right: 1pt
}

.inputText_Typeahead-Item a {
	text-decoration: none;
	color: WindowText
}

.inputText_Typeahead-Item-Selected a {
	text-decoration: none;
	color: Window
}

.dataTableEx {
	empty-cells: show
}

.panelRowCategory {
	
}

.inputRowSelect {
	vertical-align: middle;
	margin: 0px;
	margin-top: 1px;
	margin-left: 3px
}

.commandExRowEdit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	background-color: #006600;
}

.editStyleClass {
	background-color: Window;
	border-color: WindowFrame;
	border-style: solid;
	border-width: 1px;
	padding-bottom: 4px;
	text-align: right
}

.editStyleClass A {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border-style: none;
	width: 1px;
	height: 1px
}

.pagerSimple {
	
}

.pagerGoto {
	
}

.pagerGoto_inputText {
	
}

.pagerWeb {
	
}

.outputStatistics {
	
}

.pagerDeluxe {
	background-color: ThreeDFace;
	border-color: ThreeDFace;
	border-width: 1px;
	border-style: solid
}

.pagerDeluxeActive {
	padding: 0px;
	margin: 0px;
	border-width: 1px;
	border-color: ThreeDShadow;
	border-style: solid;
	background-color: transparent
}

.pagerDeluxeHidden {
	padding: 0px;
	margin: 0px;
	border-width: 0px;
	border-color: transparent;
	border-style: solid;
	background-color: transparent
}

.pagerDeluxeActive_button {
	padding: 0px;
	margin: 0px;
	width: 22px;
	height: 19px;
	background-color: ThreeDFace;
	border-style: solid;
	border-width: 1px;
	border-color: Window;
	font-size: 13px
}

.pagerDeluxeHidden_button {
	padding: 0px;
	margin: 0px;
	width: 22px;
	height: 19px;
	background-color: transparent;
	border-style: solid;
	border-width: 0px;
	border-color: transparent
}

.pagerDeluxe_text {
	vertical-align: middle;
	text-align: center;
	padding: 0px;
	padding-left: 8px;
	padding-right: 8px;
	margin: 0px;
	background-color: ThreeDFace;
	border-width: 0px;
	border-style: solid;
	border-color: ThreeDFace;
	font-size: 13px;
	color: windowtext
}

.pagerDeluxe_button_twistie {
	color: windowtext;
	border-color: windowtext;
	list-style-type: none
}

.pagerDeluxeActive_button_twistie {
	color: windowtext;
	border-color: windowtext;
	list-style-type: none
}

.sortHeader_sortasc-img {
	background-image: url("/bpmp.web/gui/imagenes/JSF_sort_asc.gif");
	background-repeat: no-repeat;
	width: 11px;
	height: 5px;
	border-style: none
}

.sortHeader_sortascon-img {
	background-image: url("/bpmp.web/gui/imagenes/JSF_sort_ascon.gif");
	background-repeat: no-repeat;
	width: 11px;
	height: 5px;
	border-style: none
}

.sortHeader_sortdesc-img {
	background-image: url("/bpmp.web/gui/imagenes/JSF_sort_desc.gif");
	background-repeat: no-repeat;
	width: 11px;
	height: 5px;
	border-style: none
}

.sortHeader_sortdescon-img {
	background-image: url("/bpmp.web/gui/imagenes/JSF_sort_descon.gif");
	background-repeat: no-repeat;
	width: 11px;
	height: 5px;
	border-style: none
}

.sortHeader_sortbi-img {
	background-image: url("/bpmp.web/gui/imagenes/JSF_sort_bi.gif");
	background-repeat: no-repeat;
	width: 11px;
	height: 11px;
	border-style: none
}

.sortHeader_sortbiup-img {
	background-image: url("/bpmp.web/gui/imagenes/JSF_sort_biup.gif");
	background-repeat: no-repeat;
	width: 11px;
	height: 11px;
	border-style: none
}

.sortHeader_sortbidown-img {
	background-image: url("/bpmp.web/gui/imagenes/JSF_sort_bidown.gif");
	background-repeat: no-repeat;
	width: 11px;
	height: 11px;
	border-style: none
}

.sortHeader_sortasc {
	text-decoration: none;
	border: none;
	color: #000000
}

.sortHeader_sortascon {
	text-decoration: none;
	border: none;
	color: #000000
}

.sortHeader_sortdesc {
	text-decoration: none;
	border: none;
	color: #000000
}

.sortHeader_sortdescon {
	text-decoration: none;
	border: none;
	color: #000000
}

.sortHeader_sortbi {
	text-decoration: none;
	border: none;
	color: #000000
}

.sortHeader_sortbiup {
	text-decoration: none;
	border: none;
	color: #000000
}

.sortHeader_sortbidown {
	text-decoration: none;
	border: none;
	color: #000000
}

.inputMiniCalendar {
	background-color: ButtonFace;
	border: 1px;
	border-style: solid;
	border-color: ButtonShadow;
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: normal;
	color: WindowText;
	padding: 2px;
	margin: 0px;
	width: 130pt
}

.inputMiniCalendar-Size {
	
}

.inputMiniCalendar-Header {
	border-width: 0px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: ButtonShadow
}

.inputMiniCalendar-Body {
	border-width: 0px;
	border-style: none;
	background-color: window
}

.inputMiniCalendar-HeaderLine1 {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle
}

.inputMiniCalendar-HeaderLine2 {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle
}

.inputMiniCalendar-HeaderWeekday {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle
}

.inputMiniCalendar-HeaderYear {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle
}

.inputMiniCalendar-HeaderMonth {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle
}

.inputMiniCalendar-HeaderLine1 {
	width: 12px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 1px
}

.inputMiniCalendar-HeaderYear {
	color: WindowText;
	padding-top: 2px;
	padding-bottom: 1px
}

.inputMiniCalendar-HeaderLine2 {
	width: 12px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 3px
}

.inputMiniCalendar-HeaderMonth {
	color: WindowText;
	padding-bottom: 3px
}

.inputMiniCalendar-Button {
	border: 0px;
	width: 12px;
	height: 12px
}

.inputMiniCalendar-HeaderWeekday {
	color: WindowText;
	background-color: ButtonFace;
	padding-top: 1px;
	padding-bottom: 2px
}

.inputMiniCalendar-OtherMonth {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border-color: window
}

.inputMiniCalendar-CurrentMonth {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border-color: window
}

.inputMiniCalendar-CurrentDay {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border-color: window
}

.inputMiniCalendar-CurrentOtherDay {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border-color: window
}

.inputMiniCalendar-InvalidDay {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border-color: window
}

.inputMiniCalendar-Today {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border-color: window
}

.inputMiniCalendar-CurrentToday {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border-color: window
}

.inputMiniCalendar-Hover {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border-color: window
}

.inputMiniCalendar-Hover {
	background-color: InactiveCaptionText;
	border-color: black
}

.inputMiniCalendar-OtherMonth {
	color: GrayText
}

.inputMiniCalendar-CurrentMonth {
	color: WindowText
}

.inputMiniCalendar-Today {
	border-color: Window;
	color: Window;
	background-color: ThreeDDarkShadow;
	font-weight: bold
}

.inputMiniCalendar-CurrentDay {
	color: HighlightText;
	background-color: Highlight
}

.inputMiniCalendar-CurrentToday {
	color: HighlightText;
	background-color: Highlight
}

.inputMiniCalendar-CurrentToday {
	font-weight: bold
}

.inputMiniCalendar-CurrentOtherDay {
	color: HighlightText;
	background-color: Highlight
}

.inputMiniCalendar-InvalidDay {
	color: GrayText;
	background-color: buttonface;
	border-color: buttonface
}

.selectOneColor {
	
}

.selectOneColor_ColorPicker {
	background-color: white;
	border: 1px;
	border-style: solid;
	border-color: ButtonShadow;
	margin: 0px;
	padding: 0px
}

.selectOneColor_ColorPicker-Body {
	background-color: white;
	border-width: 0px;
	border-style: none;
	margin: 2px
}

.selectOneColor_ColorPicker-GridCell {
	padding: 2px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	background-color: white
}

.selectOneColor_ColorPicker-GridCell-Hover {
	padding: 2px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	background-color: white
}

.selectOneColor_ColorPicker-GridCell-Selected {
	padding: 2px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	background-color: white
}

.selectOneColor_ColorPicker-GridCell-Hover-Selected {
	padding: 2px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	background-color: white
}

.selectOneColor_ColorPicker-GridCell-Hover {
	border-color: Highlight;
	background-color: InactiveCaptionText
}

.selectOneColor_ColorPicker-GridCell-Selected {
	border-color: Highlight;
	background-color: ThreeDLightShadow
}

.selectOneColor_ColorPicker-GridCell-Hover-Selected {
	border-color: black;
	background-color: InactiveCaptionText
}

.selectOneColor_ColorPicker-GridSwatch {
	width: 10px;
	height: 10px;
	border-width: 1px;
	border-color: ThreeDShadow;
	border-style: solid
}

.progressBar {
	width: 500px;
	height: 100px
}

.progressBar-Table {
	background-color: ThreeDFace;
	border-style: solid;
	border-width: 1px;
	border-color: windowtext
}

.progressBar-Message {
	color: windowtext;
	background-color: ThreeDFace;
	font-size: 20px
}

.progressBar-Bar {
	color: windowtext;
	background-color: blue;
	height: 20px
}

.progressBar-Bar_container {
	border-color: windowtext;
	border-style: solid;
	border-width: 1px
}

.progressBar-Bar_text {
	color: windowtext;
	background-color: transparent;
	height: 20px
}

.panelSection {
	
}

.panelSection-header {
	
}

.panelSection-header a {
	text-decoration: underline;
	color: black
}

.panelSection-header a:hover {
	
}

.panelSection-body {
	
}

.panelSectionWide {
	
}

.panelSectionWide-header {
	border-style: solid;
	border-width: 1px;
	border-color: black
}

.panelSectionWide-header a {
	text-decoration: none;
	color: black;
	display: block;
	width: 100%
}

.panelSectionWide-header a:hover {
	
}

.panelSectionWide-body {
	
}

.panelMenu {
	background-color: #E7E7E7
}

.panelMenu_1_div {
	
}

.panelMenu_1_table {
	font-family: sans-serif;
	font-size: 8pt
}

.panelMenu_1_cell_normal {
	padding: 2px;
	padding-left: 14px;
	padding-right: 32pt;
	text-align: left;
	background-color: #E7E7E7;
	border-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #ABABAB
}

.panelMenu_1_cell_disabled {
	padding: 2px;
	padding-left: 14px;
	padding-right: 32pt;
	text-align: left;
	background-color: #E7E7E7;
	border-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #ABABAB
}

.panelMenu_1_cell_moused {
	padding: 2px;
	padding-left: 14px;
	padding-right: 32pt;
	text-align: left;
	background-color: #E7E7E7;
	border-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #ABABAB
}

.panelMenu_1_cell_selected {
	padding: 2px;
	padding-left: 14px;
	padding-right: 32pt;
	text-align: left;
	background-color: #E7E7E7;
	border-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #ABABAB
}

.panelMenu_1_cell_selected_moused {
	padding: 2px;
	padding-left: 14px;
	padding-right: 32pt;
	text-align: left;
	background-color: #E7E7E7;
	border-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #ABABAB
}

.panelMenu_1_cell_first_normal {
	padding: 2px;
	padding-left: 14px;
	padding-right: 32pt;
	text-align: left;
	background-color: #E7E7E7;
	border-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #ABABAB
}

.panelMenu_1_cell_first_disabled {
	padding: 2px;
	padding-left: 14px;
	padding-right: 32pt;
	text-align: left;
	background-color: #E7E7E7;
	border-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #ABABAB
}

.panelMenu_1_cell_first_moused {
	padding: 2px;
	padding-left: 14px;
	padding-right: 32pt;
	text-align: left;
	background-color: #E7E7E7;
	border-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #ABABAB
}

.panelMenu_1_cell_first_selected {
	padding: 2px;
	padding-left: 14px;
	padding-right: 32pt;
	text-align: left;
	background-color: #E7E7E7;
	border-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #ABABAB
}

.panelMenu_1_cell_first_selected_moused {
	padding: 2px;
	padding-left: 14px;
	padding-right: 32pt;
	text-align: left;
	background-color: #E7E7E7;
	border-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #ABABAB
}

.panelMenu_1_cell_first_normal {
	border-left-width: 1px
}

.panelMenu_1_cell_first_disabled {
	border-left-width: 1px
}

.panelMenu_1_cell_first_moused {
	border-left-width: 1px
}

.panelMenu_1_cell_first_selected {
	border-left-width: 1px
}

.panelMenu_1_cell_first_selected_moused {
	border-left-width: 1px
}

.panelMenu_1_cell_moused {
	background-color: white
}

.panelMenu_1_cell_first_moused {
	background-color: white
}

.panelMenu_1_item_normal {
	color: WindowText;
	text-decoration: none
}

.panelMenu_1_item_moused {
	color: WindowText;
	text-decoration: none
}

.panelMenu_1_item_selected {
	color: WindowText;
	text-decoration: none
}

.panelMenu_1_item_selected_moused {
	color: WindowText;
	text-decoration: none
}

.panelMenu_1_item_disabled {
	color: gray
}

.panelMenu_2_div {
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: #ABABAB;
	margin: 0px;
	margin-left: -1px;
	margin-top: 1px
}

.panelMenu_2_table {
	color: WindowText;
	font-family: sans-serif;
	font-size: 8pt;
	text-decoration: none;
	border-width: 0px;
	border-style: none
}

.panelMenu_2_cell_normal {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_disabled {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_selected {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_selected_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_last_normal {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_last_disabled {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_last_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_last_selected.panelMenu_2_cell_last_selected_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_alt_normal {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_alt_disabled {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_alt_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_alt_selected {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_alt_selected_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_alt_normal {
	padding-left: 10px;
	background-color: #E7E7E7
}

.panelMenu_2_cell_alt_disabled {
	padding-left: 10px;
	background-color: #E7E7E7
}

.panelMenu_2_cell_alt_moused {
	padding-left: 10px;
	background-color: #E7E7E7
}

.panelMenu_2_cell_alt_selected {
	padding-left: 10px;
	background-color: #E7E7E7
}

.panelMenu_2_cell_alt_selected_moused {
	padding-left: 10px;
	background-color: #E7E7E7
}

.panelMenu_2_cell_moused {
	background-color: #c5c5c5
}

.panelMenu_2_cell_last_moused {
	background-color: #c5c5c5
}

.panelMenu_2_cell_alt_moused {
	background-color: #c5c5c5
}

.panelMenu_2_cell_last_selected {
	border-bottom-width: 0px
}

.panelMenu_2_cell_last_selected_moused {
	border-bottom-width: 0px
}

.panelMenu_2_cell_last_normal {
	border-bottom-width: 0px
}

.panelMenu_2_cell_last_moused {
	border-bottom-width: 0px
}

.panelMenu_2_cell_last_disabled {
	border-bottom-width: 0px
}

.panelMenu_2_item_normal {
	color: WindowText;
	text-decoration: none
}

.panelMenu_2_item_moused {
	color: WindowText;
	text-decoration: none
}

.panelMenu_2_item_selected {
	color: WindowText;
	text-decoration: none
}

.panelMenu_2_item_alt_normal {
	color: WindowText;
	text-decoration: none
}

.panelMenu_2_item_alt_moused {
	color: WindowText;
	text-decoration: none
}

.panelMenu_2_item_alt_selected {
	color: WindowText;
	text-decoration: none
}

.panelMenu_2_item_disabled {
	color: gray;
	text-decoration: none
}

.panelMenu_2_item_alt_disabled {
	color: gray;
	text-decoration: none
}

.panelMenu_2_arrow_normal {
	right: 4px;
	color: WindowText
}

.panelMenu_2_arrow_moused {
	right: 4px;
	color: WindowText
}

.panelMenu_2_arrow_disabled {
	right: 4px;
	color: gray
}

.panelMenu_2_separator {
	text-align: left;
	margin: 0px;
	padding: 0px;
	padding-left: 6px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px;
	background-color: #E7E7E7
}

.panelMenu_3_div {
	margin: 0px;
	margin-left: 2px;
	background-color: #E7E7E7;
	border-width: 1px;
	border-style: solid;
	border-color: #ABABAB
}

.panelMenu_3_table {
	margin: 0px;
	margin-top: 1px;
	color: WindowText;
	font-family: sans-serif;
	font-size: 8pt;
	text-decoration: none;
	border-width: 0px;
	border-style: none
}

.panelMenu_3_cell_normal {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_disabled {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_selected {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_selected_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_last_normal {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_last_disabled {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_last_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_last_selected {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_last_selected_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_alt_normal {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_alt_disabled {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_alt_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_alt_selected {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_alt_selected_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_last_normal {
	border-style: none;
	border-bottom-width: 0px
}

.panelMenu_3_cell_last_disabled {
	border-style: none;
	border-bottom-width: 0px
}

.panelMenu_3_cell_last_moused {
	border-style: none;
	border-bottom-width: 0px
}

.panelMenu_3_cell_last_selected {
	border-style: none;
	border-bottom-width: 0px
}

.panelMenu_3_cell_last_selected_moused {
	border-style: none;
	border-bottom-width: 0px
}

.panelMenu_3_cell_moused {
	background-color: white
}

.panelMenu_3_cell_alt_moused {
	background-color: white
}

.panelMenu_3_cell_last_moused {
	background-color: white
}

.panelMenu_3_item_normal {
	color: WindowText;
	text-decoration: none
}

.panelMenu_3_item_moused {
	color: WindowText;
	text-decoration: none
}

.panelMenu_3_item_alt_normal {
	color: WindowText;
	text-decoration: none
}

.panelMenu_3_item_alt_moused {
	color: WindowText;
	text-decoration: none
}

.panelMenu_3_item_alt_normal {
	font-weight: bold
}

.panelMenu_3_item_alt_moused {
	font-weight: bold
}

.panelMenu_3_item_disabled {
	color: gray;
	text-decoration: none
}

.panelMenu_3_item_alt_disabled {
	color: gray;
	text-decoration: none
}

.panelMenu_3_arrow_normal {
	right: 4px;
	color: white
}

.panelMenu_3_arrow_moused {
	right: 4px;
	color: WindowText
}

.panelMenu_3_arrow_disabled {
	right: 4px;
	color: gray
}

.panelMenu_3_separator {
	text-align: left;
	margin: 0px;
	padding: 0px;
	padding-left: 6px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px;
	background-color: white
}

.panelFormBox {
	
}

.panelFormBox_Header {
	
}

.panelFormBox_Label {
	
}

.panelFormBox_Label-Required {
	
}

.panelFormBox_Label-Error {
	
}

.panelFormBox_Label-Required-Error {
	
}

.panelFormBox_Content {
	
}

.panelFormBox_Content-Error {
	
}

.panelFormBox_Info {
	
}

.panelFormBox_Error {
	
}

.panelFormBox_MessagesArea {
	
}

.panelFormBox_MessagesArea-Info {
	
}

.panelFormBox_MessagesArea-Error {
	
}

.panelFormBox_Label-Cell {
	
}

.panelFormBox_Help-Cell {
	
}

.panelFormBox_Content-Cell {
	
}

.panelFormBox_Top-Cell {
	
}

.panelFormBox_Bottom-Cell {
	
}

.panelFormBox_Left-Cell {
	
}

.panelFormBox_Right-Cell {
	
}

.panelFormBox_Spacer-Cell {
	
}

.panelFormBox_Released {
	
}

.panelFormBox_Released {
	
}

.panelFormBox_Label-Released-Cell {
	
}

.panelFormBox_Help-Released-Cell {
	
}

.panelFormBox_Content-Released-Cell {
	
}

.panelDialog {
	position: absolute;
	background-color: #ffffff;
	border-width: 2px;
	border-color: #006600;
	border-style: solid
}

.panelDialog_TitleBar {
	text-align: center;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-left: 15px;
	padding-right: 20px;
	padding-top: 1px;
	padding-bottom: 2px;
	background-color: #1177cc;
	background-repeat: repeat-x;
	background-image: url("/bpmp.web/gui/imagenes/JSF_title_bar.gif");
	cursor: pointer
}

.panelDialog_TitleBar-CloseButton {
	position: absolute;
	top: 1px;
	right: 1px;
	cursor: default;
	border-style: none;
	border-width: 0px
}

.panelDialog_TitleBar-CloseButton-img {
	background-image: url("/bpmp.web/gui/imagenes/JSF_title_closebtn.gif");
	background-repeat: no-repeat;
	width: 16px;
	height: 14px;
	border-style: none;
	border-width: 0px
}

.panelDialog_ContentArea {
	font-family: sans-serif;
	font-size: 12px;
	padding: 2px;
	padding-top: 10px
}

.panelDialog_Footer {
	text-align: right;
	display: block;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	font-size: 12px
}

a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0066CC;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #0066CC;
}

a:hover {
	text-decoration: underline;
	color: #009900;
}

a:active {
	text-decoration: none;
	color: #009900;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 16px;
	color: #006600;
}

h2 {
	font-size: 18px;
	color: #006600;
}

h3 {
	font-size: 24px;
	color: #006600;
}

.textoGral {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold
	color: #003333;
}


.textoBlanco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
}

TR.campoGral {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #003333;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #ECF2E6;
}

TR.campoDif {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #003333;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #CEDABC;
}

TR.campoTitulo {
	FONT-WEIGHT: bold;
	text-transform: uppercase;
	FONT-SIZE: 11px;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #6CA000;
}

.ingresos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006600;
	background-color: #FBFCF8;
}

.tituloGral {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #007cc3;
}

.tituloGralCol {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #004080;
}


TR.campoTitulo2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 2px;
	padding: 5px;
	height: 5px;
	width: 5px;
	border: solid #C1D1AB;
}

table.border {
	padding: 5px;
	border-bottom: thin #6CA000 solid;
	border-left: thin #6CA000 solid;
	border-right: thin #6CA000 solid;
	border-top: thin #6CA000 solid;
}

.cabeceraTab {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	background-color: #005CE6;
}

.tablaBordeGral {
	border-color: #006600;
	border-width: thin;
	border-style: solid;
}

.tablaFuenteGral {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #006600;
}

.tablaBordeChequeo {
	border-color: gray;
	border-width: thin;
	border-style: solid;
}

.tablaFuenteChequeo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #D6D6D6;
	color: #301353;
}

 --------------------------------PanelPopup Ice Faces-------------------------------
 */ 

.icePanelPopup {    
    color: #000000;
   	border-right: 2px solid #ABABAB;
    border-top: 1px solid #ABABAB;
    border-left: 1px solid #ABABAB;
    border-bottom: 2px solid #ABABAB;
    width: auto;
    background-color: #DDDDDD;
    padding: 0px;
    z-index: 1000;
}

.icePanelPopupHeader {
    background-color: #0000ff;
    background-image: url( "./css-images/window_top.gif" );
    background-position: top;
    background-repeat: repeat-x;
    height: 2.0em;
}

.icePanelPopupBody {
    padding: 10px;
    background-color: #DDDDDD;
}

.icePanelPopupFooter {
    float: right;
    height: auto;
    background-color: #DDDDDD;
}

.icePnlPopHdr{
    height: 2.0em;
    font-weight: bold;
    background-color: #0000ff;
    height: 25px;
    color: #000000;
    /*
    background: #FFF url( './css-images/PnlHdr_bgslice.gif' ) repeat-x top left;
    */
    border-bottom: 1px solid #d9d9d9;
}

.icePnlTlTipHdr {
    height: 2.0em;
    font-weight: bold;
    background-color: #99FF66;
    height: 25px;
    color: #000000;
    /*
    background: #FFF url( './css-images/PnlHdr_bgslice.gif' ) repeat-x top left;
    */
    border-bottom: 1px solid #d9d9d9;
}

*/ /*
----------- Data Table Component classes
*/
.iceDatTbl { /* was iceDataTblOutline */
	background-color: #FFFFFF;
	border-collapse: collapse;
	border: none;
	border-left: 1px solid #d9d9d9;
	margin: 10px 0 0 0;
}

.iceDatTbl table {
	border-collapse: collapse;
}

.iceDatTblColHdr,.iceDatTblColHdr1,.iceDatTblColHdr2,.iceDatTblColGrpHdrCol,.iceDatTblFtr
	{ /* was iceTblHeader */
	text-align: center;
	font: 11px tahoma;
	color: #484848;
	padding: 5px;
	font-weight: bold;
	background: #FFF url( './css-images/table_col_header.gif' ) repeat-x
		bottom left;
	border: 1px solid #d9d9d9;
}

.iceDatTblResHdlr {
	margin: 0px;;
	padding: 0px;
	border-width: 0px;
	width: 2px;
	background-color: transparent;
}

.iceDatTblResBor {
	margin: 0px;;
	padding: 0px;
	background-color: #d9d9d9;
	background-position: bottom;
	background-repeat: repeat-x;
	width: 2px;
	border-top: 1px solid #CCCCCC;
}

.iceDatTblBlkTd {
	border-bottom: 1px solid #CCCCCC;
	background-color: #d9d9d9;
}

/* data tables are rendered with alternating row colors */
.iceDatTblRow1 { /* was iceTblRow1 */
	background: #FFF;
	border-left: 1px solid #d9d9d9;
}

.iceDatTblRow2 { /* was iceTblRow2 */
	background: #F7F7F7;
	border-left: 1px solid #d9d9d9;
}

/* set the common attributes for the column classes */
.iceDatTblCol,.iceDatTblCol1,.iceDatTblCol2 {
	/*was column, column1, column2, column3*/
	color: #000000;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	text-align: left;
}

.iceDatTblHdr {
	
}

/*was iceTblHeader */
.iceDatTblFtr {
	background: none;
	border-top: 1px solid #d9d9d9;
}

.iceDatTblScrlSpr {
	background: url( './css-images/table_col_header.gif' ) repeat-x bottom
		left;
	border-top: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
}

.iceDatTblScrlSprFtr {
	border-bottom: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
}

.iceDatTblScrlSprFtr .iceDatTblFtr {
	border-bottom: none;
}

.iceDatTblScrlSpr .iceDatTblColHdr1,.iceDatTblScrlSpr .iceDatTblColHdr2
	{
	border-left-style: none;
	border-top-style: none;
}

.iceDatTblActvSrtHdr {
	
}

/*was iceTblFooter */ /*
----- for datatable when cell content length exceeds-----
*/
.iceDatTbl td span.iceOutTxt {
	overflow: hidden;
	display: block;
	padding: 2px 0px;
}

/* etc */ /*

/* ------------ Menu Classes --
*/
.iceMnuBar,.iceMnuBarVrt {
	padding: 0;
	margin: 0;
	white-space: nowrap;
	background-image: none;
	background-color: #FCFCFC;
}

.iceMnuBar a:hover{
	background-color: #4591A1;	
}

.iceMnuBarItem,.iceMnuBarVrtItem {
	border: 1px solid #A1A1A1;
	float: left;
	white-space: nowrap;
	background-color: #DEDEDE;
}

.iceMnuBarVrtItem {
	float: none;
}

.iceMnuBarItem a,.iceMnuBarItem span,.iceMnuBarItem a:hover,.iceMnuBarVrtItem a,.iceMnuBarVrtItem span,.iceMnuBarVrtItem a:hover
	{
	text-decoration: none;
	font-weight: bold;
	display: block;
	font-size: 1.0em;
	color: #000000;
}

.iceMnuBarItem a,.iceMnuBarItem span,.iceMnuBarItem a:hover {
	padding: 3px 6px 3px 6px;
}

.iceMnuBarVrtItem a,.iceMnuBarVrtItem span,.iceMnuBarVrtItem a:hover {
	padding: 3px 0 3px 6px;
}

.iceMnuBarItem a,.iceMnuBarVrtItem a {
	background-image: url( "./css-images/bottom_menu_bg.png" );
}

.iceMnuBarItem a:hover,.iceMnuBarVrtItem a:hover {
	background-image: url( "./css-images/bottom_menu_btn_bg_on.png" );
	background-color: #4591A1;
	color: #ffffff;
}

.iceMnuItmSep {
	border-bottom: 1px solid #DBDBDB;
}

.iceMnuItmSep hr {
	width: 100%;
	/*border: 1px inset #000000;*/
}

.iceMnuBarSubMenu,.iceMnuBarVrtSubMenu {
	position: absolute;
	background-color: #FCFCFC;
	display: block;
	width: 250px;
	border-right: 1px solid #DBDBDB;
	border-left: 1px solid #DBDBDB;
	border-top: 1px solid #DBDBDB;
	z-index: 1000;
}

.iceMnuItm {
	padding: 0;
	margin: 0;
	vertical-align: top;
	border-bottom: 1px solid #DBDBDB;
}

.iceMnuItm a,.iceMnuItm a:hover,.iceMnuItmVrt a,.iceMnuItmVrt a:hover {
	border: 0;
	padding: 0;
	margin: 0;
	display: block;
	text-decoration: none;
	text-align: left;
	vertical-align: top;
	line-height: 25px;
	height: 25px;
	width: 250px;
}

.iceMnuItm a,.iceMnuItmVrt a {
	background-color: #FCFCFC;
	color: #000000;
}

.iceMnuItm a:hover,.iceMnuItmVrt a:hover {
	background-color: #4591A1;
	color: #4591A1;
}

.iceMnuItm a:hover .iceOutTxt,.iceMnuItmVrt a:hover .iceOutTxt {
	color: #FFFFFF;
}

/*.iceMnuItm a:hover .iceOutTxt,.iceMnuBarItem a:hover .iceOutTxt,.iceMnuItmVrt a:hover .iceOutTxt,.iceMnuItm a:hover .iceMnuItmLabel
	{
	color: #FFFFFF;
}*/

.iceMnuItmLabel {
	padding-left: 7px;
	font-weight: normal;
}

.iceMnuItmLabel,.iceMnuBarItemLabel {
	font-size: 1.0em;
	/*width: 100%;*/
	vertical-align: middle;
}

.iceDatTbl td span.iceMnuItmLabel {
	display: inline;
	padding: 0 0 0 7px;
}

.iceMnuItmImage,.iceMnuBarItemImage,.iceMnuBarVrtItemImage {
	display: inline;
	vertical-align: middle;
	azimuth: center;
}

.iceMnuBarSubMenuInd {
	float: right;
	padding: 5px 0 0 0;
	margin: 0;
}

.iceMnuBarVrt {
	width: 160px;
	display: block;
}

.iceMnuBarVrtSubMenuInd {
	display: inline;
	float: right;
	padding-top: 3px;
	padding-right: 1px;
}



/* ----------- RowSelector Component classes ----------- */
.tableRowSelected{
	background: #58ACFA;
	border-left: 1px solid #d9d9d9;	
}

.tableRowMouseOver{
	background: #A9D0F5;
	border-left: 1px solid #d9d9d9;
}


.tableSelectedMouseOver{
	background: #FE9A2E;
	border-left: 1px solid #d9d9d9;
}
/*
----------- Calendar Component classes
*/
.iceSelInpDate { /* calendar outline & background color */
	background-color: #FFFFFF;
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	margin-top: 10px;
}

table.iceSelInpDate tbody tr td table {
	border-right: 1px solid #d9d9d9;
}

.iceSelInpDateIFrameFix,.iceIEIFrameFix {
	z-index: -1;
	position: absolute;
	display: block;
	filter: mask();
}

.iceIEIFrameFix {
	height: 0;
}

.iceSelInpDatePopup {
	min-width: 172px;
}

.iceSelInpDateInput {
	width: 150px;
	margin: 2px;
}

.iceSelInpDateOpenPopup {
	display: inline;
	text-decoration: none;
	background-color: transparent;
	background-image: url( "./css-images/cal_button.gif" );
	background-repeat: no-repeat;
	text-align: center;
	border: none;
	width: 16px;
	height: 16px;
	margin-left: 5px;
}

.iceSelInpDateClosePopup {
	display: inline;
	text-decoration: none;
	background-color: transparent;
	background-image: url( "./css-images/cal_off.gif" );
	background-repeat: no-repeat;
	text-align: center;
	border: none;
	width: 16px;
	height: 16px;
	margin-left: 5px;
}

.iceSelInpDateMonthYear {
	background: #F5F5F5;
	font-weight: bold;
	text-align: center;
	color: #666;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.iceSelInpDateMoYrDropdown {
	background: #F5F5F5;
	font-weight: bold;
	color: #666;
}

.iceSelInpDateMonthYear img {
	border: none;
	margin-left: 3px;
	padding: 3px;
}

.iceSelInpDateMovePrev {
	text-decoration: none;
	display: inline;
	background-color: transparent;
	background-image: url( "./css-images/cal_arrow_left.gif" );
	background-repeat: no-repeat;
	text-align: center;
	border: none;
	width: 17px;
	height: 16px;
}

.iceSelInpDateMoveNext {
	text-decoration: none;
	display: inline;
	background-color: transparent;
	background-image: url( "./css-images/cal_arrow_right.gif" );
	background-repeat: no-repeat;
	text-align: center;
	border: none;
	width: 17px;
	height: 16px;
}

.iceSelInpDateWeek { /* the days of the week row */
	font-weight: normal;
	color: #666;
	text-align: center;
	padding: 3px;
	border-top: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	/*width: 22px;*/
}

/* set the look for the days of the week backgrounds */
.iceSelInpDateDay {
	text-align: center;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	padding: 3px;
}

.iceSelInpDateCur {
	background: #faa620;
	text-align: center;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

.iceSelInpDateCur .iceCmdLnk {
	background: none;
	border: none;
}

.iceSelInpDateCur .iceOutTxt {
	color: #FFFFFF;
}

.weekend {
	background: #e9e9e9;
}

.weekend .iceOutTxt {
	color: #666;
}

.weekend .iceCmdLnk {
	background: none;
	border: none;
}

/* now set the attributes for the numbers for each day of the week */
.iceSelInpDateDay a { /* the day text */
	text-decoration: none;
	background-color: #FFFFFF;
	/*border: 1px solid #FFFFFF;*/
	color: #000000;
	width: 100%;
	height: 100%;
	padding: 0px;
	display: block;
}

.iceSelInpDateCur a {
	text-decoration: none;
	background-color: #2A6CC2;
	border: 1px solid #2A6CC2;
	color: #FFFFFF;
	width: 100%;
	height: 100%;
	padding: 0px;
	display: block;
}

/* now set the color attributes for the hover effect on non-current days */
.iceSelInpDateDay a:hover { /* the day text */
	text-decoration: none;
	color: #666;
}


/*Estilo titulo pagina*/
.tituloPagina{
	font-size: 16px;
	color:white; 
	font-weight: bold;
	font-family:Arial;
}

/*Estilo Barra titulo*/
.barraTitulo{
	width: 100%;
	background: #99B3CC;
	text-align: center;
	height: 25px;
	color: white;
}

/*Estilo Barra titulo para la pantalla principal.jspx*/
.barraTituloInfoRef{
	width: 100%;
	background: #99B3CC;
	text-align: left;
	height: 15px;
	color: white;
}

.moneda{
	text-align: right;
	type: number;
}


/*estilos para la orden smurfit en la pantalla consulta pedidos tabla bvp*/
.fondoAmarillo{
	background-color: #F2F5A9;
}

.fondoVerde{
	background-color: #D0F5A9;
}


/*estilos para el estado pedido en la pantalla consulta pedidos tabla sap*/
 .abierto {
	background-color: #D6D6D6;
}

.completo{
	background-color: #D0F5A9;
}








.iceDatPgrScrBtn {
/* the cells behind the scroll buttons */
    background-color: transparent;
    padding: 2px;
}

.iceDatPgrTbl {
/* the container for the pagination*/
    background-color: transparent;
}

/* set the common attributes for the pagination numbers */
.iceDatPgrScrCol a, .iceDatPgrCol a {
    text-decoration: none;
    font-weight: normal;
    background-color: #FFFFFF;
    color: #656565;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #DBDBDB;
}

/** html .iceDatPgrCol a {*/
    /*width: 1%;*/
/*}*/

/* override the attributes for the currently selected page */
.iceDatPgrScrCol a {
    color: #FFFFFF;
    border: 1px solid #DBDBDB;
    background-color: #FFA600;
}

/** html .iceDatPgrScrCol a {*/
    /*width: 1%;*/
/*}*/

/* set the attributes for the mouseover on none-current pages */
.iceDatPgrCol a:hover {
    color: #000000;
    border: 1px solid #FFA600;
    text-decoration: none;
    padding-bottom: 1px;
}
.iceDatPgrScrCol a:hover {
    color: #000000;
    border: 1px solid #DBDBDB;
    text-decoration: none;
    padding-bottom: 1px;
}


/*
    Classes for the connection status indicator
*/

.iceOutConStat {
    margin: 10px;
    width: 25px;
    height: 25px;
    border: none;
    font-size: .5em;
}
/*
.iceOutConStatInactv {
    position: absolute;
    background-image: url( css-images/connect_idle.gif );
    background-position: top;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}
*/
.iceOutConStatActv {
    position: absolute;
    background-image: url( css-images/connect_active.gif );
    background-position: top;
    background-repeat: no-repeat;
    width: 85px;
    height: 85px;
}
/*
.iceOutConStatCaution {
    position: absolute;
    background-image: url( css-images/connect_caution.gif );
    background-position: top;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.iceOutConStatDisconnect {
    position: absolute;
    background-image: url( css-images/connect_disconnected.gif );
    background-position: top;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}
*/

