<jsp:root jsfc="f:view" xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
	<html>
		<body>
			<f:view>
				<ui:composition template="/WEB-INF/facelets/mainTemplate.jspx">
					<ui:define name="header">
						<ui:include src="/WEB-INF/facelets/header.jspx" />
					</ui:define>
						<ui:define name="body">
							<ice:form>
								<br />
								<div align="center">						
									<!--<ice:commandLink id="cmdBack" value="Back" action="goInitialMenu"></ice:commandLink>-->
									<f:loadBundle basename="co.com.smurfit.sccvirtual.etiquetas.bundle" var="etiqueta" />
								
									<table>
										<tr>
											<td class="barraTitulo" colspan="2">
												<ice:outputLabel styleClass="tituloPagina" 
													value="#{etiqueta.lblTituloDetalleDespacho} #{sapDetDspView.txtNumped.value}#{'-'}#{sapDetDspView.txtItmped.value}">
												</ice:outputLabel>
											</td>
										</tr>
										<tr>
											<td colspan="2" height="20"></td>
										</tr>
										
										<tr>
											<td>
												<div align="center">
													<ice:panelGroup rendered="#{sapDetDspView.renderDataTable}">
														<div align="center" >
														<!--<div align="center" style="overflow: auto; width: 750px;">-->
															<ice:dataTable id="tableSapDetDsp"
																value="#{sapDetDspView.sapDetDsp}" 
																var="sapDetDsp"
																rows="10">

																<f:facet name="header">
																	<ice:columnGroup>
																		<ice:headerRow>
																			<ice:column style="display:none">
																				<ice:commandSortHeader arrow="true" columnName="id.subdsp">
																					<ice:outputText value="subdsp" />
																				</ice:commandSortHeader>
																			</ice:column>
																			<ice:column>
																				<ice:outputText value="#{etiqueta.lblNotaDespacho}" />
																			</ice:column>
																			<ice:column style="display:none">
																				<ice:commandSortHeader arrow="true" columnName="id.itmdsp">
																					<ice:outputText value="itmdsp" />
																				</ice:commandSortHeader>
																			</ice:column>
																			<ice:column style="display:none">
																				<ice:commandSortHeader arrow="true" columnName="id.codcli">
																					<ice:outputText value="codcli" />
																				</ice:commandSortHeader>
																			</ice:column>
																			<ice:column>
																				<ice:outputText value="#{etiqueta.lblFecdsp}" />
																			</ice:column>
																			<ice:column>
																				<ice:outputText value="#{etiqueta.lblNumped}" />
																			</ice:column>
																			<ice:column style="display:none">
																				<ice:commandSortHeader arrow="true" columnName="id.itmped">
																					<ice:outputText value="itmped" />
																				</ice:commandSortHeader>
																			</ice:column>
																			<ice:column style="display:none">
																				<ice:commandSortHeader arrow="true" columnName="id.subitm">
																					<ice:outputText value="subitm" />
																				</ice:commandSortHeader>
																			</ice:column>
																			<ice:column>
																				<ice:outputText value="#{etiqueta.lblCntdsp}" />
																			</ice:column>
																			<ice:column>
																				<ice:outputText value="#{etiqueta.lblUnidadDeMedida}" />
																			</ice:column>
																			<ice:column>
																				<ice:outputText value="#{etiqueta.lblCntkgs}" />
																			</ice:column>
																			<ice:column>
																				<ice:outputText value="#{etiqueta.lblEmpresaTransporte}" />
																			</ice:column>
																			<ice:column>
																				<ice:outputText value="#{etiqueta.lblPlaca}" />
																			</ice:column>
																			<ice:column>
																				<ice:outputText value="#{etiqueta.lblConductor}" />
																			</ice:column>
																			<ice:column>
																				<ice:outputText value="#{etiqueta.lblDireccionDeDespacho}" />
																			</ice:column>
																		</ice:headerRow>
																	</ice:columnGroup>
																</f:facet>
																<ice:column style="display:none">
																	<ice:outputText value="#{sapDetDsp.id.subdsp}" />
																</ice:column>
																<ice:column>
																	<ice:outputText value="#{sapDetDsp.id.numdsp}" />
																</ice:column>
																<ice:column style="display:none">
																	<ice:outputText value="#{sapDetDsp.id.itmdsp}" />
																</ice:column>
																<ice:column style="display:none">
																	<ice:outputText value="#{sapDetDsp.id.codcli}" />
																</ice:column>
																<ice:column>
																	<ice:outputText value="#{sapDetDsp.id.fecdsp}" />
																</ice:column>
																<ice:column>
																	<ice:outputText value="#{sapDetDsp.id.numped}" />
																</ice:column>
																<ice:column style="display:none">
																	<ice:outputText value="#{sapDetDsp.id.itmped}" />
																</ice:column>
																<ice:column style="display:none">
																	<ice:outputText value="#{sapDetDsp.id.subitm}" />
																</ice:column>
																<ice:column>
																	<ice:outputText value="#{sapDetDsp.id.candsp}" />
																</ice:column>
																<ice:column>
																	<ice:outputText value="#{sapDetDsp.id.undmed}" />
																</ice:column>
																<ice:column>
																	<ice:outputText value="#{sapDetDsp.id.cankgs}" />
																</ice:column>
																<ice:column>
																	<ice:outputText value="#{sapDetDsp.id.emptra}" />
																</ice:column>
																<ice:column>
																	<ice:outputText value="#{sapDetDsp.id.placa}" />
																</ice:column>
																<ice:column>
																	<ice:outputText value="#{sapDetDsp.id.nomcon}" />
																</ice:column>
																<ice:column>
																	<ice:outputText value="#{sapDetDsp.id.dirdsp}" />
																</ice:column>
															</ice:dataTable>
														</div>
														<div align="center">
												
														<ice:dataPaginator id="dataScroll" for="tableSapDetDsp"
															fastStep="3" paginator="true" rowsCountVar="rowsCount"
															renderFacetsIfSinglePage="false"
															displayedRowsCountVar="displayedRowsCountVar"
															firstRowIndexVar="firstRowIndex" lastRowIndexVar="lastRowIndex"
															pageCountVar="pageCount" pageIndexVar="pageIndex"
															paginatorMaxPages="4">

															<f:facet name="first">
																<ice:graphicImage id="firstpage_1"
																	url="/xmlhttp/css/rime/css-images/arrow-first.gif"
																	style="border:none;" />
															</f:facet>
															<f:facet name="last">
																<ice:graphicImage id="lastpage_1"
																	url="/xmlhttp/css/rime/css-images/arrow-last.gif"
																	style="border:none;" />
															</f:facet>
															<f:facet name="previous">
																<ice:graphicImage id="previouspage_1"
																	url="/xmlhttp/css/rime/css-images/arrow-previous.gif"
																	style="border:none;" />
															</f:facet>
															<f:facet name="next">
																<ice:graphicImage id="nextpage_1"
																	url="/xmlhttp/css/rime/css-images/arrow-next.gif"
																	style="border:none;" />
															</f:facet>
															<f:facet name="fastforward">
																<ice:graphicImage id="fastforward_1"
																	url="/xmlhttp/css/rime/css-images/arrow-ff.gif"
																	style="border:none;" />
															</f:facet>
															<f:facet name="fastrewind">
																<ice:graphicImage id="fastrewind_1"
																	url="/xmlhttp/css/rime/css-images/arrow-fr.gif"
																	style="border:none;" />
															</f:facet>

															<f:param value="#{rowsCount}" />
															<f:param value="#{displayedRowsCountVar}" />
															<f:param value="#{firstRowIndex}" />
															<f:param value="#{lastRowIndex}" />
															<f:param value="#{pageIndex}" />
															<f:param value="#{pageCount}" />
														</ice:dataPaginator>									
													</div>
												</ice:panelGroup>
												<br />
											</div>
											<div align="center">
												<ice:commandButton value="#{etiqueta.btnVolverABusqueda}" 
													action="goBusqueda" styleClass="button">
												</ice:commandButton>
											</div>
										</td>
									</tr>
								</table>
							</div>
							<ui:include src="/mensaje.jspx" />
						</ice:form>
					</ui:define>
					<ui:define name="footer">
						<ui:include src="/WEB-INF/facelets/footer.jspx" />
					</ui:define>
				</ui:composition>
			</f:view>
		</body>
	</html>
</jsp:root>