<jsp:root jsfc="f:view" xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ice:outputDeclaration doctypeRoot="html"
		doctypePublic="-//W3C//DTD XHTML 1.0 Transitional//EN"
		doctypeSystem="http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" />
	
	<html>
	<body
		background="#{facesContext.externalContext.request.contextPath}/images/bg_BPM.jpg">
	<f:view>
		<ui:composition>
			<div id="header">
			<div class="tr">
			<div class="br">
			<div class="bl">
 			<h:form>
			<table  border="0" cellspacing="0" width="100%" cellpadding="0">
				<tr>
					<td rowspan="2" width="225"><img name="SmurfitLogo" src="#{facesContext.externalContext.request.contextPath}/images/SmurfitLogo.gif" height="77" border="0" alt="" /></td>
	   				<td valign="top"><img name="CabezoteFondo" src="#{facesContext.externalContext.request.contextPath}/images/CabezoteFondo.gif" width="100%" height="58" border="0" alt="" /></td>
	   			</tr>
	   			<tr>

					<td><img name="linea" src="#{facesContext.externalContext.request.contextPath}/images/headerSmurfit.gif" width="100%" height="19" border="0" alt="" /></td>
				</tr>
				<tr>
					<td colspan="2" style="background: #99B3CC " height="20">
						<ice:panelGroup rendered="#{inicioView.nombreUsuario != '' ? true : false}">
							<table width="100%" border="0">
								<tr>
									<td width="30" align="center">
				                        <ice:graphicImage url="#{Utilities.RUTAIMG}iconos/sesion-close.png" alt="Ayuda" height="16" onclick="ayuda(location.href)" style="border-top-width: 0px; border-right-width: 0px; border-left-width: 0px; border-bottom-width: 0px"></ice:graphicImage>
				                    </td>
									<td style="color:#ffffff; font-weight: 900; font-family: Arial; font-size: 13px;" width="auto">
				                        USUARIO: <ice:outputText value=" #{inicioView.nombreUsuario}"></ice:outputText>
				                    </td>
				                    <td >
									</td>
				                    <td width="50" align="center">
				                        <a href="#" title="Ayuda">
				                          <ice:graphicImage url="#{Utilities.RUTAIMG}help.png" alt="Ayuda"  onclick="ayuda(location.href)" style="border-top-width: 0px; border-right-width: 0px; border-left-width: 0px; border-bottom-width: 0px"></ice:graphicImage>
				                        </a>
				                    </td>
				                    <td width="50" align="center" title="Cambiar Contrase&#241;a">
				                        <ice:commandLink action="goCambioPassword" >
				                          <ice:graphicImage url="#{Utilities.RUTAIMG}key.png" onclick="" style="border-top-width: 0px; border-right-width: 0px; border-left-width: 0px; border-bottom-width: 0px"></ice:graphicImage>
				                        </ice:commandLink>
				                    </td>
				                    <td width="50" align="center" title="Cerrar Sesi&#243;n">
					                    <ice:commandLink action="#{inicioView.cerrarSession}" 
												onclick="if(!confirm('Confirma que desea Cerrar la Sesion')){ return; };">
					                      <ice:graphicImage url="#{Utilities.RUTAIMG}salir.png"   onclick="" style="border-top-width: 0px; border-right-width: 0px; border-left-width: 0px; border-bottom-width: 0px"></ice:graphicImage>
					                    </ice:commandLink>
				                    </td>
								</tr>
								<tr>
									<td colspan="6">
										<ice:outputConnectionStatus id="outputConnectionStatus" style="height: 100px; top: 50%; left: 50%; position: absolute;z-index:60000;"/>
									</td>
								</tr>
							</table>
						</ice:panelGroup>
					</td>
				</tr>
				
	   		</table>
	   		</h:form>
			</div>
			</div>
			</div>
			<!-- end .corners --></div>
			<!-- end header -->
		</ui:composition>
	</f:view>
	</body>
	</html>
</jsp:root>
