<jsp:root jsfc="f:view" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">


<html>
	<head><link href="#{facesContext.externalContext.request.contextPath}/css/style.css" rel="stylesheet" type="text/css" /></head>
	<body>
	<f:view> 
		<ui:composition>
			<div id="mensaje">

			<ice:panelPopup id="mensaje" draggable="false" autoCentre="true"
				styleClass="icePanelPopup" visible="#{MBMensaje.visible}" modal="true"
				style="z-index: 5000; top: 0%; left: 0%; position: absolute; width: 470px;border: 1px solid black;">
				
				<f:facet name="header">
					<ice:panelGrid width="100%" cellpadding="0" cellspacing="0"
						style="text-align: center;background-color:#0000ff;" >
						<table width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td width="40">
									<ice:graphicImage binding="#{MBMensaje.image1}" height="30" />
								</td>
								<td align="center" width="390">
									<ice:outputText binding="#{MBMensaje.text1}" style="color:white;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 14px;font-weight:bold;"/>
								</td>
								<td width="40"/>
							</tr>
						</table>
								
					</ice:panelGrid>
				</f:facet>

				<f:facet name="body">
					<ice:panelGrid width="100%" cellpadding="0" cellspacing="0"
						style="text-align: center;background-color:#DDDDDD;" >
						<ice:outputLabel style="font-size: 12px;font-weight:bold;" 
							value="#{MBMensaje.mensaje}" />
						<br />
						<ice:outputLabel style="font-size: 12px;font-weight:bold;" 
							value="#{MBMensaje.solucion}" rendered='#{MBMensaje.solucion == null ? "false" : "true" }' />
						<br />
						<ice:commandButton value="Aceptar" styleClass="button"
							action="#{MBMensaje.ocultarMensaje}" title="Aceptar" visible="true"
							rendered="true"/>
					</ice:panelGrid>
				</f:facet>
		
			</ice:panelPopup>
			</div>
			</ui:composition>
			</f:view>
			</body>
			</html>
</jsp:root>