<jsp:root jsfc="f:view" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
	<html>
		<body>
			<f:view>
				<ui:composition template="/WEB-INF/facelets/mainTemplate.jspx">
					<ui:define name="header">
						<ui:include src="/WEB-INF/facelets/header.jspx" />
					</ui:define>
					<ui:define name="body">						
						<ice:form>
							<!-- SE AGREGA EL BOUNDLE -->
							<f:loadBundle basename="co.com.smurfit.sccvirtual.etiquetas.bundle" var="etiqueta" />
							
							<!-- se incluye el menu -->
							<ui:include src="/menu.jspx" />
							<br/>
							<br/>
							<br/>
							<div align="center">	
								<table border="0" align="center" cellpadding="5" cellspacing="0">
									<tr>
										<td>
											<ice:outputText value="#{etiqueta.lblBienvenidosASCCVirtual}" styleClass="tituloGral"/><br/><br/>
										</td>
									</tr>
									<tr>
										<td class="barraTituloInfoRef" colspan="2">
											<ice:outputLabel styleClass="tituloPagina" value="#{etiqueta.lblTengaEnCuenteLosSiguiente}"/>
										</td>
									</tr>
									<tr>
										<td colspan="2" height="0"></td>
									</tr>
									
									<tr>
										<td align="center">
											<ice:panelGrid columns="1" id="pnlPrincipal">																									
												<div align="justify" style="font-size: 12px; line-height: 22px; width:550px;">
													<ice:outputText value="#{etiqueta.lblTituloInformacionReferencial}"/>
													<br/>
													<br/>
													<ice:outputText value="#{etiqueta.lblActualizacionInformacionMolinos}"/>
													<br/>
													<ice:outputText value="#{etiqueta.lblActualizacionInformacionCorrugadoSacos}"/>
													<br/>
													<ice:outputText value="#{etiqueta.lblActualizacionInformacionEstadoCuenta}"/>
													<br/>
													<ice:outputText value="#{etiqueta.lblActualizacionInformacionFichaTecnica}"/>
													<br/><br/>
													<ice:outputText value="#{etiqueta.lblInformacionManejoBotones}"/>
													<br/><br/>
												</div>
											</ice:panelGrid>
										</td>
									</tr>
								</table>
							</div>
						</ice:form>						
					</ui:define>
				<ui:define name="footer">
					<ui:include src="/WEB-INF/facelets/footer.jspx" />
				</ui:define>
				</ui:composition>
			</f:view>
		</body>
	</html>
</jsp:root>