.cabezote {
    /*background-image: url("arriba.gif");*/
    background-position: top center;
    background-repeat: no-repeat;
    width: 600px;
    /*height: 177px;*/
}

.bordecentro {     	
    /*background-image: url("centro.gif");*/
    background-repeat: repeat-y;
    width: 600px;
    /*height: 60px;*/
}

.pie {
    /*background-image: url("abajo.gif");*/
    background-position: bottom left;
    background-repeat: no-repeat;
    width: 600px;
    /*height: 250px;*/
    
    padding: 11em 0px 50px 0px;
} 


.tituloPrimario{
	width: 100%;
	background: #99B3CC;
	text-align: center;
	font-family: Verdana, Arial, Sans-Serif;
	font-weight: bold;
	font-size: 12;	
	text-transform: uppercase;
	height: 25px;
	color: white;
}

.tituloSecundario{
	width: 100%;
	background: #99B3CC;
	text-align: left;
	font-family: Verdana, Arial, Sans-Serif;
	font-weight: bold;
	font-size: 12;	
	text-transform: capitalize;
	height: 25px;
	color: white;
}

.headerTabla{
	background: #99B3CC;
	color: white;
	text-align: center;
	text-transform: capitalize;
}

.datoTabla{
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 10px;
	text-align: left;
}

.tabla{
	border: 1px;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 10px;
	text-align: left;
}



